body {
  background-image: url("../images/unsplash-main.jpg");
  font-family: "Open Sans", sans-serif;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: black;
}

.container {
  display: grid;
  padding: 40px;
  padding-top: 0;
  grid-gap: 10px;
  grid-template-areas:
    "header header header"
    "form info info"
    ".    info info"
    "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10rem 25rem auto 2rem;
}

.navContainer {
  grid-area: header;
}

.b {
  grid-area: form;
}

.c {
  grid-area: info;
  display: grid;
  overflow: auto;
}

.box {
  background-color: steelblue;
  border-radius: 5px;
  padding: 20px;
}

.ui_form {
  display: grid;
  grid-template-areas: "label1 box1" "label2 box2" "label3 box3" "label4 .   " "label5 box4" "label6 box5" "label7 box6" "label8 box7";
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px;
}

#row1 {
  grid-area: label1;
}

#row2 {
  grid-area: label2;
}

#row3 {
  grid-area: label3;
}

#row4 {
  grid-area: label4;
}

#row5 {
  grid-area: label5;
}

#row6 {
  grid-area: label6;
}

#row7 {
  grid-area: label7;
}

#row8 {
  grid-area: label8;
}

#boxrow1 {
  grid-area: box1;
}

#boxrow2 {
  grid-area: box2;
}

#boxrow3 {
  grid-area: box3;
}

#boxrow4 {
  grid-area: box4;
}

#boxrow5 {
  grid-area: box5;
}

#boxrow6 {
  grid-area: box6;
}

#boxrow7 {
  grid-area: box7;
}

.ui_form_row {
}

.formLabels {
  grid-area: formLabels;
}

.formBoxes {
  grid-area: formBoxes;
}

.formLabels label {
  width: 5em;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.resetButton,
.filterButton {
  cursor: pointer;
}

select {
  height: 2em;
  width: 9.4em;
  cursor: pointer;
}

.inputtext {
  height: 1.8em;
  width: 9.8em;
  border: none;
}

table {
  width: 100%;
  height: 100%;
  font-size: 1em;
  border-spacing: 15px 0px;
}

table th a {
  color: black;
  text-decoration: none;
}

table td {
  font-size: small;
}

table td a {
  color: black;
  text-decoration: none;
}

/* https://stackoverflow.com/questions/2187008/styling-an-anchor-tag-to-look-like-a-submit-button */

/* https://www.w3schools.com/css/css3_borders */

.style_link {
  font: menu;
  border-radius: 5px;
  color: black;
  display: inline-block;
  padding: 2px 8px;
  background: white;
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
}

.footer {
  grid-area: footer;
  text-align: center;
  color: white;
  padding: 20px;
  width: 100%;
}

.footer > p > a {
  text-decoration: none;
  color: white;
}

/*----------------- CSS FOR NAVBAR ---------------------*/

.navBtn {
  float: left;
  display: block;
  color: white;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  padding: 20px;
}

.navItems > div > div > ul > li {
  color: white;
  list-style: none;
}

#logo {
  float: right;
  width: 300px;
}

.navItems > div > div > ul {
  padding: 0;
  margin: 0;
}

.navBtn:hover {
  background-color: steelblue;
}

#menuIcon,
.toggler {
  display: none;
}

/* 
For reference: @media 
https://www.w3schools.com/cssref/css3_pr_mediaquery.asps

For reference: CSS Hamburger Menu CSS + HTML 
https://www.youtube.com/watch?v=DZg6UfS5zYg&feature=youtu.be
*/

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-rows: 8em 22em 30em;
    grid-template-areas:
      "header"
      "form"
      "info";
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .navContainer {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
    display: block;
  }
  #menuIcon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  #logo {
    float: right;
    margin: 10px;
    width: 200px;
  }
  .navItems {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navItems > div {
    background: rgba(0, 0, 0, 0.8);
    width: 200vw;
    height: 100%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
  }
  .navItems > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  .navItems > div > div > ul > li {
    list-style: none;
    color: white;
    padding: 1rem;
  }
  .navItems > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  /* Show menu on toggle on*/
  .navItems .toggler:checked {
    visibility: visible;
  }
  .toggler:checked ~ .navItems {
    height: 100%;
  }
  .toggler:checked ~ .navItems > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
  .fa {
    font-size: 20px;
  }
  .button {
    width: 100px;
  }
  .searchContainer input[type="text"] {
    width: 300px;
  }
}

/* For smaller mobile screens */

@media screen and (max-width: 400px) {
  .container {
    padding: 20px;
  }
}
